.filteredBooks {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filteredBooks li {
  list-style: decimal;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  margin-top: 0.5rem;
  line-height: 1.4;
  word-wrap: break-word;
}

.filteredBooks li:last-child {
  border-bottom: none;
}
