.bookList {
  padding: 0 2rem;
}

.bookInput input {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 0.7rem 1rem;
  outline: none;
  width: 100%;
  max-width: 400px;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .bookList {
    padding: 0 1rem;
  }
  .bookInput input {
    width: 100%;
  }
}
