.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 0.7rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
